
@media only screen and (min-width: 360px) {
  $flow-header {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
}
@media only screen and (min-width: 400px) {
  $flow-header {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 500px) {
  $flow-header {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  $flow-header {
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 700px) {
  $flow-header {
    font-size: 2.7rem;
  }
}
